.recommended-items-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding: 10px;

    li {
        flex: 1;
        width: 25%;
        min-width: 25%;
        max-width: 25px;
        margin-bottom: 25px;
    }
}